dist/
node_modules/
*.log
.DS_Store
.eslintcache
.vscode/
__pycache__/
models/
!models/silero_vad.onnx
.opencode/
.venv/
recording.wav
*.egg-info/

# Yarn 3 ignores
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions